/* - - - - Universal Styles - - - - */

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #333;
  font-family: 'Vesper Libre', serif;
}

.clear {
  clear: both;
}

/* - - - - Container Styles - - - - */

#sketch-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 1;
  margin: 0 auto;
  width: 800px;
  max-width: 60%;
}

/* - - - - Header Styles - - - - */

.header {
  background: #4c4c4c;
}

.header .navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.nav-item {
  display: inline;
  padding-right: 35px;
}

.nav-link {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

/* - - - - Button Styles - - - - */

.button-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

.button-submit {
  padding: 15px 30px;
  font-size: 18px;
  color: #333;
  border: none;
  border-radius: 5px;
  background: #ed4923;
  /*background: #e54824;*/
  margin-right: 10px;
  outline: none;
}

.button-submit:hover {
  cursor: pointer;
}

.left-menu {
  margin-left: auto;
}

#play-again, #place-bet {
  margin-left: auto;
  margin-right: 0px;
}

.button-submit:disabled {
  background: #d7e3f7;
}

/* - - - - Input Styles - - - - */

#input-bet {
  font-size: 15px;
  width: 100px;
  padding: 14px;
  border-radius: 5px;
}

#input-bet:focus {
  border: 1px solid #707070;
  box-shadow: 0 0 5px 1px #969696;
}

#balance-label {
  color: #fff;
  font-size: 20px;
  padding-right: 15px;
}
