html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: #333;
  font-family: 'Vesper Libre', serif;
}

#sketch-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  clear: both;
}

.header {
  background: #4c4c4c;
}

.header .navigation {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.nav-item {
  display: inline;
  padding-right: 35px;
}

.nav-link {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.container {
  flex: 1;
  margin: 0 auto;
  width: 800px;
  max-width: 60%;
}

.button-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.button-submit {
  padding: 15px 30px;
  font-size: 18px;
  color: #333;
  border: none;
  border-radius: 5px;
  background: #ed4923;
  /*background: #e54824;*/
  margin-right: 10px;
  outline: none;
}

.button-submit:hover {
  cursor: pointer;
}

#play-again {
  margin-left: auto;
  margin-right: 0px;
}

.button-submit:disabled {
  background: #d7e3f7;
}
